@import url('../../public/fonts/inter_web/inter.css');
/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://unpkg.com/tailwindcss/dist/base.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/base";
 */
@tailwind base;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

html { font-family: 'Inter', sans-serif; }
    @supports (font-variation-settings: normal) {
        html { font-family: 'Inter var', sans-serif; 
    }
}

h1 {
    font-size: 31px;
    margin-bottom: 18px;
}

h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

h3 {
    font-size: 24px;
    margin-bottom: 13px;
}

h4 {
    font-size: 20px;
    margin-bottom: 11px;
}

h5 {
    font-size: 16px;
    margin-bottom: 10px;
}

h6 {
    font-size: 13px;
    margin-bottom: 8px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    color: #323438;
}

.form-group {
    @apply .mb-6;
}

.form-group label {
    @apply .mb-2 .block .text-xs .uppercase .tracking-wide .font-semibold .text-gray-700;
}

.form-control {
    @apply bg-white border w-full block py-2 px-3 text-sm rounded;
}

.btn {
    @apply border-none tracking-wide uppercase font-semibold px-4 rounded py-3 text-white text-xs bg-gray-300;
}

p {
    @apply mb-5 leading-normal;
}

.sidebar {
    background: #4e54c8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #292c5e, #21223d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #292c5e, #21223d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

.navbar {
    background: #4e54c8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292c5e, #292a50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292c5e, #292a50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

.btn.btn-primary {
    @apply bg-indigo-600;
}

.btn.btn-warning {
    @apply bg-yellow-400 text-gray-800;
}

.card {
    @apply bg-white mb-10 border rounded;
}

.card .card-header {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    @apply border-b px-5 py-4 bg-white;
}

.card .card-header .card-title {
    @apply tracking-wide font-semibold text-gray-800 text-sm uppercase;
}

.card .card-body {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    @apply px-5 py-5;
}

.card .card-footer {
    @apply px-5 py-5;
}

.avatar-lg {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}